In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hithadhoo,MV,2022-07-14 16:00:54,-0.6000,73.0833,83.62,74,100,15.19
1,1,Zhigansk,RU,2022-07-14 16:03:23,66.7697,123.3711,58.95,98,88,8.57
2,2,Tautira,PF,2022-07-14 16:01:21,-17.7333,-149.1500,75.70,62,97,21.23
3,3,Henties Bay,NaN,2022-07-14 16:03:23,-22.1160,14.2845,61.09,71,0,9.19
4,4,Vila Velha,BR,2022-07-14 16:03:24,-20.3297,-40.2925,75.15,85,75,3.44

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]


# To remove the negative temperatures we can use a for loop to iterate 
# through the max_temp and add the temperatures that are greater than
# 0 Â°F to a new list.


# Add a new cell above our previous code block, and then add the
# following code in the cell and run the cell. 


temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# In the for loop, we're using the max() function to get the largest 
# value between the temp and 0. If the temp is less than 0, 
# then 0 will be added to the list in its place. Otherwise, 
# the temp is added to the list.   

# using list comprehension ^^^ the for loop code would be written as
# [max(temp, 0) for temp in max_temp]     see FURTHERMORE
    
    
        
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps) # temps vs using max_temp


# FURTHERMORE


# Instead of using the for loop, we can perform a list comprehension within the heatmap_layer() function.
# Replace temps with our code for the list comprehension so our heat_layer code looks like the following:
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Rerun the cell.


# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed wwooooossshhh
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hithadhoo,MV,2022-07-14 16:00:54,-0.6000,73.0833,83.62,74,100,15.19
2,2,Tautira,PF,2022-07-14 16:01:21,-17.7333,-149.1500,75.70,62,97,21.23
4,4,Vila Velha,BR,2022-07-14 16:03:24,-20.3297,-40.2925,75.15,85,75,3.44
9,9,Faanui,PF,2022-07-14 16:01:54,-16.4833,-151.7500,77.36,74,45,25.05
10,10,Albany,US,2022-07-14 15:59:55,42.6001,-73.9662,78.58,62,6,6.35
12,12,Batticaloa,LK,2022-07-14 16:03:25,7.7102,81.6924,83.44,59,40,14.29
21,21,Ibra,OM,2022-07-14 16:03:28,22.6906,58.5334,89.89,45,99,8.81
23,23,Iskateley,RU,2022-07-14 16:03:29,67.6803,53.1512,79.52,57,6,8.81
27,27,Durusu,TR,2022-07-14 16:03:30,41.3053,28.6767,80.78,65,0,15.30
33,33,Palmer,US,2022-07-14 16:01:53,42.1584,-72.3287,80.51,75,7,3.58

In [12]:
preferred_cities_df.count()

City_ID       203
City          203
Country       203
Date          203
Lat           203
Lng           203
Max Temp      203
Humidity      203
Cloudiness    203
Wind Speed    203
dtype: int64

In [13]:
# Don't add the hotel information to the preferred_cities_df DataFrame because this DataFrame
# is our filtered DataFrame, and the customer will always filter it for each trip. 
# We'll need to create a new DataFrame specifically for the data needed to create a heatmap and pop-up markers.

# Make a copy of the preferred_cities_df DataFrame and name it hotel_df. For the hotel_df, keep the columns
# "City," "Country," "Max Temp," "Lat," and "Lng." Add a new column to the hotel_df DataFrame
# to hold the name of the hotel.

# Add the following code to a new cell and run it to create the hotel_df DataFrame.



# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0    Hithadhoo      MV     83.62  -0.6000   73.0833
2      Tautira      PF     75.70 -17.7333 -149.1500
4   Vila Velha      BR     75.15 -20.3297  -40.2925
9       Faanui      PF     77.36 -16.4833 -151.7500
10      Albany      US     78.58  42.6001  -73.9662
12  Batticaloa      LK     83.44   7.7102   81.6924
21        Ibra      OM     89.89  22.6906   58.5334
23   Iskateley      RU     79.52  67.6803   53.1512
27      Durusu      TR     80.78  41.3053   28.6767
33      Palmer      US     80.51  42.1584  -72.3287

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
  
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))