## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,1,Kapaa,US,82.72,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,6,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
2,13,Mawlaik,MM,79.00,clear sky,23.6333,94.4167,AKZ Guest House
3,14,Cartago,CO,83.95,scattered clouds,4.7464,-75.9117,sammpacale
4,15,Butaritari,KI,81.68,moderate rain,3.0707,172.7902,Isles Sunset Lodge

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Worthington"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Worthington"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Hamilton"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Lexington"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Bluefield"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
import numpy as np

start = vacation_start.to_numpy()[(0,5)], vacation_start.to_numpy()[(0,6)]
end = vacation_end.to_numpy()[(0,5)], vacation_end.to_numpy()[(0,6)]
stop1 = vacation_stop1.to_numpy()[(0,5)], vacation_stop1.to_numpy()[(0,6)]
stop2 = vacation_stop2.to_numpy()[(0,5)], vacation_stop2.to_numpy()[(0,6)]
stop3 = vacation_stop3.to_numpy()[(0,5)], vacation_stop3.to_numpy()[(0,6)]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
fig = gmaps.figure()
super_trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(super_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,369,Worthington,US,86.18,clear sky,40.0931,-83.0180,Sheraton Suites Columbus Worthington
1,188,Hamilton,US,88.75,scattered clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
2,586,Lexington,US,89.60,clear sky,37.9887,-84.4777,DoubleTree Suites by Hilton Hotel Lexington
3,163,Bluefield,US,81.14,scattered clouds,37.2698,-81.2223,Economy Inn

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))